.cart {
    position: relative;
    background-color: white;
    padding: 12px;
    border: 1px;
    border-radius: 100%;
}

.cart:hover {
    opacity: 70%;
}

.indicator {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 100%;
    bottom: -5px;
    right: -5px;
    color: white;
    text-align: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}